/* Tablet 768px~1199px */
@media screen and (min-width:768px){
  html{font-size: 68.8%;}
  .mob_olny, .dsk_only{display: none;}

  header.mob_olny{display: block;}
  header{background-color: rgba(199, 219, 183, 0.5);}

  /* 0 */
  #section0{position: relative;}
  #section0 div.logo{
    display: block;
    width: 30.6rem;
    height: 20.5rem;
    position: absolute;
    top: 13rem;
    left: 10%;
  }
  #section0 .dsk_only.logo img:first-of-type{top: -2rem;}
  #section0 .tit_caharactor>img:nth-of-type(1){right: 34rem;}
  #section0 .tit_caharactor>img:nth-of-type(2){top: 25rem;}

  @keyframes caharactor_ani2{
    0%{
      transform: rotateX(0);
      top: 23rem;
    }
    50%{
      transform: rotateX(20deg);
      top: 25rem;
    }
    100%{
      transform: rotate(0);
      top: 23rem;
    }
  }

  /* 2 */
  .s2_list{width: 50rem;}
  .s2_list span{width: 2.5rem;}

  /* 3 */
  .s3_text .mob_olny{display: block;}

  /* 4 */
  .s4_list img{width: 45rem;}

  /* 5 */
  #section5 .mob_olny{display: block;}
  .s5_list p em{
    display: inline-block;
    font-size: 1.3rem;
  }

  /* 6 */
  #section6{padding: 10rem 3rem}
  #section6 .dsk_only{display: block;}
  .cards ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards ul li{
    display: flex;
    flex-direction: column;
  }
  .cards ul li img{
    display: block;
    width: 22rem;
    margin-bottom: 2rem;
  }
  .cards ul li:first-of-type{padding: 5rem 3rem 0 0;}
  .s6_list .cards{opacity: 0;}

  /* 7 */
  #section7 .tit span{display: inline-block;}

  /* 11 */
  #section11 .tit_wrap h2{
    width: 45rem;
    padding-top: 3.5rem;
  }
  .s11_list.btn .mob_olny{display: block;}

}

/* Desktop 1200px */
@media screen and (min-width:1200px){
  html{font-size: 62.5%;}
  .dsk_only{display: block;}
  .rel{
    width: 130rem;
    margin: auto;
  }
  h2.tit{
    font-size: 4.5rem;
    line-height: 7rem;
  }
  p.txt{font-size: 3.2rem;}
  .btn{
    width: 21.4rem;
    font-size: 2.8rem;
  }
  .mb img{width: 36.8rem;}

  header.mob_olny{display: none;}

  #section1 .rel,
  #section3 .rel,
  .group1,
  #section5 .dsk_only>div,
  .s5_list,
  #section6 .rel,
  #section7 .rel,
  #section8 .rel,
  #section9 .rel,
  #section10 .rel{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #section3 .rel,
  #section7 .rel,
  #section9 .rel{flex-direction: row-reverse;}

  #section6 .rel,
  #section7 .rel,
  #section8 .rel,
  #section9 .rel,
  #section10 .rel{height: 87.7rem;}

  #section7 .tit_wrap,
  #section9 .tit_wrap,
  #section10 .tit_wrap{padding-top: 20rem;}

  /* 0 */
  #section0 div.logo{
    width: 30.6rem;
    height: 20.5rem;
    top: 20rem;
    left: 28%;
  }
  #section0 .tit_caharactor>img:nth-of-type(1){right: 36rem;}
  #section0 .tit_caharactor>img:nth-of-type(2){
    right: 8rem;
    top: 35rem;
  }
  @keyframes caharactor_ani2{
    0%{
      transform: rotateX(0);
      top: 33rem;
    }
    50%{
      transform: rotateX(20deg);
      top: 35rem;
    }
    100%{
      transform: rotate(0);
      top: 33rem;
    }
  }

  #section0 .car img{position: absolute;}
  #section0 .car img:nth-of-type(1){
    bottom: 18rem;
    left: 20rem;
    animation: car_ani1 2s infinite linear alternate;
  }
  #section0 .car img:nth-of-type(2){
    top: 35rem;
    left: -20rem;
    animation: car_ani2 2s infinite linear alternate;
    animation-delay: 1s;
  }

  @keyframes car_ani1{
    from{
      bottom: 18rem;
      left: 20rem;
    }
    to{
      bottom: 10rem;
      left: 30rem;
    }
  }
  @keyframes car_ani2{
    from{
      top: 35rem;
      left: -20rem;
    }
    to{
      top: 45rem;
      left: -8rem;
    }
  }

  /* nav */
  #main_gnb{
    padding: 0;
    width: 100%;
    height: 10rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9999999;
  }
  .gnb{
    width: 130rem;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .gnb .main{
    height: 10rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 10rem;
    transition: 0.2s;
    padding: 0 5rem;
  }
  .gnb>.main{position: relative;}
  .gnb>.main>a{
    display: flex;
    height: inherit;
    padding: 0 3.5rem;
  }
  .gnb .sub{
    display: none;
    position: absolute;
    width: 100%;
    height: 24rem;
    top: 100%;
    left: 0;
    text-align: center;
    background-color: white;
  }
  .gnb .sub li{
    height: 8rem;
    line-height: 8rem;
    transition: 0.3s;
  }
  .gnb .sub li a{
    color: #666;
    font-size: 1.7rem;
    transition: 0.3s;
  }
  .main:last-child .sub{height: 16rem;}
  .gnb .sub, .gnb .sub li:last-child{
    border-radius: 0 0 2rem 2rem;
  }
  .gnb .main:hover{
    color: orange;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .gnb .sub li:hover{background-color: orange;}
  .gnb .sub li:hover a{
    color: #fff;
    font-size: 1.8rem;
  }

  /* 1 */
  #section1{margin-top: 11rem;}
  #section1 .rel{padding: 3rem 15rem;}
  #section1 .rel .tit{
    line-height: 6rem;
    padding-top: 3rem;
  }
  #section1 .app{
    width: 21.8rem;
    height: 21.8rem;
  }
  #section1 .app img{width: 15.8rem;}
  #section1 span{width: 16.6rem;}

  /* 2 */
  .s2_list{width: 92.5rem;}
  .s2_list span{width: 4.8rem;}
  .s2_chart h3{
    font-size: 1.6rem;
    width: 8.9rem;
    top: -5rem;
  }

  @keyframes chart1{
    0%{height: 0;}
    100%{height: 12.2rem;}
  }
  @keyframes chart2{
    0%{height: 0;}
    100%{height: 17.1rem;}
  }
  @keyframes chart3{
    0%{height: 0;}
    100%{height: 24.5rem;}
  }
  @keyframes chart4{
    0%{height: 0;}
    100%{height: 32.7rem;}
  }
  @keyframes chart5{
    0%{height: 0;}
    100%{height: 38.6rem;}
  }
  @keyframes chart6{
    0%{height: 0;}
    100%{height: 44.7rem;}
  }

  /* 3 */
  .s3_list img{width: 32.2rem;}
  .s3_list p{
    font-size: 2rem;
    width: 24.6rem;
    height: 5.5rem;
  }
  .s3_text .mob_olny{display: none;}
  .s3_list p:nth-of-type(1){
    top: 7rem;
    left: -15rem;
  }
  .s3_list p:nth-of-type(2){
    top: 1rem;
    right: -15rem;
  }
  .s3_list p:nth-of-type(3){
    bottom: 10rem;
    right: -15rem;
  }
  .s3_list p:nth-of-type(4){
    bottom: 7rem;
    left: -10rem;
    width: 20rem;
  }

  /* 4 */
  .s4_list img{width: 67.6rem;}
  .s4_list .btn{width: 27.7rem;}
  .group1{
    margin-bottom: 8rem;
  }

  /* 5 */
  #section5 .mob_olny{display: none;}
  #section5 .dsk_only{margin-bottom: 15rem;}
  #section5 .dsk_only img{margin-bottom: 3rem;}
  .ss1 img{width: 26rem;}
  .ss2 img{width: 30rem;}
  .ss3 img:nth-of-type(1){width: 18.2rem;}
  .ss3 img:nth-of-type(2){width: 24rem;}
  .ss3>div{margin-bottom: 6rem;}
  #section5 .dsk_only>div{align-items: end;}
  .ss1 div{width: 26rem;}
  .ss1 span{font-size: 3.2rem;}
  .ss2 p{font-size: 2.6rem;}
  .ss2 div{font-size: 4.5rem;}
  
  #section5 .material-symbols-outlined{
    display: block;
    font-size: 12rem;
    color: #FFB800;
    margin: auto;
  }

  .s5_list{margin: 0 10rem;}
  .s5_list img{
    display: block;
    margin: 0;
    width: 51rem;
  }
  .s5_list p{
    font-size: 3.2rem;
    line-height: 6rem;
  }
  .s5_list p b{font-size: 3.5rem;}
  .s5_list p em{font-size: 1.6rem;}

  #section5 .dsk_only>div .ss1{opacity: 0;}
  #section5 .dsk_only>div .ss1 span{opacity: 0;}
  #section5 .dsk_only .ms1{opacity: 0;}
  #section5 .dsk_only>div .ss2{opacity: 0;}
  #section5 .dsk_only .ms2{opacity: 0;}
  #section5 .dsk_only>div .ss3{opacity: 0;}

  /* 6 */
  #section6{padding: 0 3rem;}
  #section6 .rel{overflow: hidden;}
  .cards ul li img{width: 26rem;}
  .cards ul li:first-of-type{padding: 7rem 3rem 0 0;}
  #section6 .tit.center{text-align: left;}

  /* 8 */
  #section8 .rel{overflow: unset;}
  #section8 .tit_wrap{padding-bottom: 10rem;}
  #section8 .tit .dsk_only{display: inline-block;}
  .s8_list img:nth-of-type(2){
    width: 31.4rem;
    bottom: -18rem;
    left: -73rem;
  }
  .s8_list span{
    bottom: 3rem;
    left: -43rem;
    width: 16.3rem;
    height: 9.7rem;
    line-height: 9.7rem;
    font-size: 4.8rem;
    background-color: transparent;
    border-radius: 0;
    background: url(../image/bubble.png) no-repeat center;
  }

  .s8_list img.dsk_only{
    display: block;
    position: absolute;
    top: 24rem;
    left: 27rem;
    width: 16rem;
  }
  .s8_list img.dsk_only:last-of-type{
    top: 67rem;
    left: -7rem;
  }

  /* 11 */
  #section11 .tit_wrap h2{
    width: 61.9rem;
    height: 17.5rem;
    font-size: 2.8rem;
    padding-top: 4.3rem;
    margin: 14rem auto;
  }
  .s11_list.btn .mob_olny{display: none;}
  .s11_list.btn{
    font-size: 2.8rem;
    width: 40.2rem;
    height: 9.1rem;
    line-height: 9.1rem;
    padding: 0;
  }
  .s11_list.ch2{
    position: absolute;
    top: 6rem;
    left: 20rem;
  }
  .s11_list img{width: 12rem;}
  .s11_list.ch3 img{
    width: 21.6rem;
    position: absolute;
    top: -10rem;
    right: 17rem;
    transform: rotate(10deg);
  }

  /* Footer */
  footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer address{
    height: 19.4rem;
    align-items: start;
  }
  footer img{
    width: 15.1rem;
  }
}